* {
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: fit-content;
    margin: 0 auto;
    background-color: rgb(235, 229, 229);
    border-radius: 10px;
}
.add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-radius: 10px;
    background: rgb(164, 164, 164, 0.5);
}
.add-item , .add-btn {
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(235, 229, 229, 1);
}
.add-item {
    width: 40%;
}
.toDo {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 15px;
}
.toDo:not(:last-child) {
    border-bottom: 1px solid;
}

input[type="checkbox"]:checked+label {
   text-decoration: line-through;
}
