* {
    box-sizing: border-box;
}

html {
    font-size: 1vw;
}

form {
    padding-top: 5vh;
    height: 100vh;
}
fieldset {
    display: flex;
    flex-flow: column;
    row-gap: 5vh;
    width: 80vw;
    padding: 5vw;
    margin: 0 auto;
}
legend, label {
    font-size: 2rem;
    color: white;
}
input {
    font-size: 2rem;
    height: 10vh;
}

/* button {
    font-size: 2.5rem;
    font-weight: bold;
    align-self: center;
    border-radius: 1vw;
    padding: 1vw;
    border: none;
} */
.btn__container {
    display: flex;
    column-gap: 5vw;
}
.content {
    display: flex;
    justify-content: center;
}
.card {
    width: 30%;
    position: relative;
}
.content__img {
    width: 100%;
}

.card__btn {
    position: absolute;
    bottom: 0;
    right: 7%;
    width: 36%;
    height: 11%;
    border-radius: 2.2vw 0 2.2vw 0;
    background-color: black;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
}
