* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 40vw;
    height: 60vh;
    border-radius: 20px;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f44;
}

.calc-screen {
    display: grid;
    grid-auto-columns: max-content;
    align-items: center;
    height: 20vh;
    padding: 5px;
    overflow: auto hidden;
}

.calc-screen output {
    font-size: 5vh;
    user-select: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
}


.btn {
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    justify-self: center;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}

.btn.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    border-radius: 35px;
}

.btn.bg-grey {
    background: #a6a6a6;
}
.btn.bg-orange {
    background: #ff9501;
}
@media (max-width: 680px) {
    .calc {
        width: fit-content;
        max-width: 80vw;
        max-height: 50vh;
    }
}
