*{
    box-sizing: border-box;
}
header {
    height: 20vh;
    padding: 20px;
}
nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-flow: row nowrap;
}
nav h1 {
    font-size: 64px}

main {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
    padding: 10px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
form {
    display: flex;
    width: 50vw;
    flex-flow: column nowrap;
    padding: 10px 5px 5px;
}
label {
    transform: translateY(-50px);
}



.order {
    display: flex;
    flex-flow: column nowrap;
    max-width: 40vw;
    height: fit-content;
    padding: 10px;
    gap: 25px;
    border: 1px solid black;
}
